<head>
  <meta charset="utf-8" lang="en">
  <title>View Street Pharmacy | Locally-owned Compounding Pharmacy in Downtown Victoria, BC</title>
  <meta name="description" content="View Street Pharmacy is a locally-owned full-service pharmacy offering: compounding, senior care, homeopathy, free blister packs, free delivery, and more. Service available in Japanese and English.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Domine|Work+Sans:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/favicon.ico">
</head>